body {
    background-color:rgba(215, 211, 207, 0.248);
    cursor: default;
}
.container {
    overflow: hidden;
}
.logo {
    height: 15vh;  
}
.data{
    font-size: 35px;
    color: #465d7a;
    font-weight:600;
}
.add-result {
    display: none;
    background-color: #cf7a847f;
    color:  rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;  
    max-width: 500px;
    margin: auto;
}
h3 {
    color: #465d7a;
}
input, select, textarea {
    cursor: pointer;
}
#submit, #resetFilters {
    background-color: #6687b3;
    color:white;
}
#submit:hover, #resetFilters:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: #6687b3;
    color:white;
    opacity: 0.8;
    border: none;
}
#delete {
    background-color: rgba(179, 27, 47, 0.612);
    color:white;
}
#delete:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgb(180, 20, 63);
    color:white;
    opacity: 0.8;
}
#update {
    background-color: rgba(122, 87, 122, 0.56);
    color:white;
}
#update:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(161, 89, 161, 0.791);
    color:white;
    opacity: 0.8;
}
#panel {
    background-color: #6687b3;
    color:white;
    max-height: 40px;
    margin-top: 9px;
}
#panel:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: #6687b3;
    color:white;
    opacity: 0.8;
    border: none;
}
#productInfo {
    border: none;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.983);
    max-width: 80%;
}
.logoSize {
    width: 90%;
    max-width: 60%;
    display: block;
    margin: 0 auto; 
}
.productId {
    text-decoration:underline;
    color: #5e8ac5 !important;
    cursor: pointer;
}
@media screen and (max-width: 768px) {    
    .logo {
        width: 35%;
    }
    .d-flex {
        flex-direction: column;
        align-items: center;
        gap: 0!important;
    }
    form {
        margin: auto;
        padding: 0 10px; 
    } 
}
@media screen and (max-width: 570px) {    
    form {
        width: 100%;
        margin-left: 0;
    }
} 

