body {
    background-color:rgba(215, 211, 207, 0.248);
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.container {
    max-width: 1220px;
    padding: 0 20px;
    overflow: hidden;
    margin-top: -4px;
}
.logo {
    height: 15vh;   
    margin-top: 50%;
}
.catalog{
    font-size: 35px;
    color: #465d7a;
    font-weight:500;
}
nav {
    gap: 10px;
}
#panel {
    background-color: #6687b3;
    color:white;
    max-height: 40px;
    margin-top: 9px;
    overflow: hidden;
}
#panel:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: #6687b3;
    color:white;
    opacity: 0.8;
    border: none;
}
.product {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.product-image {
    width: 20%;
    padding-bottom: 2%;
}
.product-img {
    width: 100%;
}
.product-details {
    width: 50%;
    margin-top:2%
}
.product-price {
    width: 20%;
    margin-top:2%
}
.stars {
    color: rgb(171, 94, 199);
}
.product-title {
    margin: 0;
    font-size: small;
    color: rgb(103, 161, 255);
}
.product-description {
    margin: 1rem 0;
    font-size: small;
}
.price {
    color: rgb(255, 125, 102);
}
.older-price {
    color: #888888;
    text-decoration: line-through;
    margin-left: 0.5rem;
}
.add-to-cart {
    background-color: #dac8dbed;
    color: rgb(73, 71, 71);
    border: none;
    padding: 0.5rem 1.25rem;
    margin-top: 1rem;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.add-to-cart:hover {
    background-color: #c6b6c6ed;
}
.discount {
    background-color: rgba(228, 91, 91, 0.895);
    color: white;
    padding: 2px 4px;
    font-size: small;
    position: relative;
    top: -5px;
    left: 200px;
    margin-bottom: 5px;
}
@media screen and (max-width: 910px) {  
    .discount {
        position: initial;
    }  
    .product {
        display: flex;
        flex-direction:column;
        text-align: center;
        align-items: center;            
    }
    .product-image {
        width: 45%;
        padding-bottom: 2%;
    }
    .add-to-cart {   
        margin-bottom: 20px;
        margin-left: -10px;
    }
}
@media screen and (max-width: 723px) {  
    .add-to-cart {
        width: 110%;
        margin-left: -15px;
    }
}
@media screen and (max-width: 670px) {  
    .product-image {
    width: 70%;
    padding-bottom: 2%;
    }
    .add-to-cart {
        width: 130%;
        margin-left: -25px;
    }
}  
@media screen and (max-width: 590px) {  
    .add-to-cart {
        width: 150%;
        margin-left: -30px;
    }
}  
@media screen and (max-width: 522px) {  
    .add-to-cart {
        width: 180%;
        margin-left: -35px;
    }
    .logo {
        height: 12vh;   
    }
    .title {
        font-size: 35px;
    }
}  
@media screen and (max-width: 470px) {  
    .add-to-cart {
        width: 200%;
        margin-left: -40px;
    }
}  
@media screen and (max-width: 429px) {  
    .add-to-cart {
        width: 240%;
        margin-left: -45px;
    }
    .product-image {
        width: 70%;
        padding-bottom: 2%;
    }
}  
@media screen and (max-width: 370px) {  
    .add-to-cart {
        width: 250%;
        margin-left: -56px;
    }
}  
@media screen and (max-width: 362px) {  
    .add-to-cart {
        width: 310%;
    }
}  
@media screen and (max-width: 270px) {  
    .add-to-cart {
        margin-left: -30px;
    }
}  

